<%- include('partial_header', {title:'(+) Add Snippet'}) %>

    <style>
        @import url('/forms.css');
    </style>

    <!-- Create a New Snippet Form -->
    <div class="input-form">
        <form action="/create" method="POST" name="create-form" id="create-form">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
            <label for="code">Code Snippet</label>
            <textarea name="snippet" id="code" required cols="40" rows="10"></textarea>
            <label for="tags">Tags</label>
            <input type="text" name="tags" id="tags" required>
            <button type="submit">Add Snippet</button>
        </form>
    </div>

    <%- include('partial_footer') %>