<%- include('partial_header', {title:'Login'}) %>

<style>
	@import url('/forms.css');
</style>

<!-- Create a New Snippet Form -->
<div class="input-form">

	<form action="" method="POST" name="login-form" id="login-form">
		<% if (typeof error !== 'undefined' && error === 'incorrect') { %>
		<div class="error-message">Either email or password is incorrect.</div>
		<% } %>
		<label for="email">Email Id:</label>
		<input type="email" id="email" name="email" required class="<%= (typeof error !== 'undefined' && error === 'incorrect') ? 'error' : '' %>">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required class="<%= (typeof error !== 'undefined' && error === 'incorrect') ? 'error' : '' %>">
		<button type="submit">Login</button>

	</form>
</div>

<%- include('partial_footer') %>