<footer>
    <p>Code Snippets. &copy; 2024</p>
</footer>
</div>

<script>
    hljs.highlightAll();
    function copy(id) {
        const code = document.getElementById(id).querySelector('code').innerText;
        navigator.clipboard.writeText(code);
    }
</script>
</body>