<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/atom-one-dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>

<body>
    <div id="container">
        <header>
            <nav>
                <div class="logo">
                    <a href="/">&lt; / &gt; Code Snippets</a>
                </div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/create">(+) New_Snippet</a>
                    </li>
                    <li>
                        <a href="/tags">Tags</a>
                    </li>
                </ul>
            </nav>
        </header>